:root {
    --white-text: white;
    --black-text: #000;
    --font-text: #333;
}

/* Thuộc tính cho tất cả  */
*{
    box-sizing: inherit;
}

/* Đặt kích thước chữ 1rem = 10px */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 body{
    margin: 0;
 }

 /* Bỏ gạch chân cho tất cả thẻ a */
a {
    text-decoration: none;
}
 /* Tiêu đề trang*/

 .header {
    background-color: #333;
    margin-bottom: 20px;
   

}

/* phần trên */

/* logo */
.title {
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 10px;
}
.title__image{
    width: 100px;
    border-radius: 50%;
}

/* Tìm kiếm */
.find {
    padding-top: 10px;
    width: 45%;
    float: left;
    display: flex;
}
.find__input{
    width: 60%;
}
.find__input input {
    padding: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px 0 0 20px;
}
.find__icon {
    background-color: yellow;
    width: 10%;
    border: 1px solid white;
    border-radius: 0 20px 20px 0;
    height: 40px;
    text-align: center;
    font-size: 2rem;
    padding: 2px;
    cursor: pointer;
}

/* chức năng đơn hàng đăng ký đăng nhập thông báo */
.navbar1 {
    width: 35%;
    float: left;
    color: var(--white-text);
    display: flex;
}
.navbar1__item {
    
    display: inline-block;
    flex: 1;
    font-size: 1.6rem;
    position: relative;
    user-select: none;
}

.navbar1__item--link i{
    padding-top: 5px;
    text-align: center;
    font-size: 3rem;
    display: block;
    height: 50%;
  
    margin: 0;
}
.navbar1__item--link p {
    font-size: 1.5rem;
    height: 50%;
    display: block;
    margin: 5px;
    padding-bottom: 5px ;
}
.navbar1__item--link{
    height: 100%;
    text-decoration: none;
    display: block;
    text-align: center;
}

.navbar1__item--link:hover{
    background-color: #5e5c5c;
}
.navbar1__item--link:visited{
    color: var(--white-text);
}

/* Thông báo */
.navbar1__item--notify {
    width: 400px;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: white;
    top: 120%;
    display: none;
    transform-origin: top right;
    animation: displayNotify ease-in 0.3s;
    
}

@keyframes displayNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }

}

.navbar1__item--notify::before {
    position: absolute;
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    right: 0%;
    top: -30px;

}

.navbar1__item--notify.displayNotify {
    display: block;
}

.navbar1__item--notify h3 {
    color: var(--font-text);
    opacity: 0.7;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 0.1px solid rgb(213, 213, 213);
}

.notify__list {
    padding: 0;
    margin: 0;
}

.notify__item {
    border-bottom: 0.1px solid;
}
.notify__link {
    display: flex;
    width: 100%;
    background-color: rgb(252, 191, 191);
    min-height: 60px;
}

.notify__link:hover {
    background-color: #f1eeee;
}

.notify__link img {
    width: 60px; 
    object-fit: contain;
}


.notify__infor p{
    margin: 0;
}

.notify__infor p:first-of-type {
    padding: 3px 0 0 10px;
    color: var(--font-text);
    font-size: 1.6rem;
    font-weight: 400px;
    line-height: 16px;
}

.notify__infor p:last-of-type {
    color: var(--font-text);
    opacity: 0.8;
    line-height: 16px;
    padding: 3px 0 5px 10px;
}

.notify__footer {
    background-color: rgb(255, 218, 218);
}

.notify__footer a{
    color: var(--font-text);
    text-align: center;
    padding: 10px;
    display: block;
}

.notify__footer:hover {
    transition: 0.3s;
    background-color: red;
    font-weight: bold;
}

/* phàn dưới: Thông tin */
.navbar2{
    clear: both;
    width: 100%;
    height: 40px;
    background-color: rgb(233, 67, 67);
    position: relative;
    border-top: 1px solid;
    margin-top: 10px;
}
.navbar2__list {
    height: 100%;
    list-style-type: none;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.navbar2__item {
    height: 100%;
    width: 100%;  
}
.navbar2__item--link{
    color: var(--white-text);
    padding: 5px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar2__item:hover {
    background-color: #ff0000;
}
.navbar2__item:hover a{
    color: yellow;
    
}
.navbar2__item--link:visited{
    color: var(--white-text);
}

@media only screen and (max-width: 600px){
    .header {
        height: 100px;
    }
    
    .navbar2 {
        display: none;
    }
}