

main {
    font-size: 1.6rem;
    background-color: rgb(253, 229, 229);
   
}
main >h3 {
    margin-top: 0;
    font-size: 1.4rem;
    padding-top: 15px ;
    padding-left: 10px;
}

main >h3 a {
    color: var(--font-text);
}

main >h3 a:visited {
    color: var(--font-text);
}

main >h3 span {
    opacity: 0.4;
}

section {
    display: flex;
    padding: 10px;
    width: 80%;
    margin: auto;
    background-color: white;
}

.contact{
    width: 50%;
}

.contact__infor span{
    font-weight: bold;
}

.contact__infor p{
    margin: 0;
}
.contact__infor div {
    margin-bottom: 10px;
}

#Hoten, #Tel, #Email, textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
   opacity: 0.6;
 
}


.submit button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: var(--white-text);
    cursor: pointer;
}

.map {
    width: 50%;
    padding: 20px;
}

.map img {
    width: 100%;
    object-fit: cover;
}


