
body {
    font-size: 1.6rem;
}

body >h3 {   
    font-size: 1.4rem;
    padding-left: 10px;
}

body >h3 a {
    color: var(--font-text);
}

body >h3 a:visited {
    color: var(--font-text);
}

body >h3 span {
    opacity: 0.4;
}
section {
    padding: 10px;
    margin-top: 20px;
}

section h1 {
    margin-top: 0;
}

section span {
    font-weight: bold;
}

